$color-black: #000;
$color-white: #fff;

$color-title: rgba(66, 73, 86, 1);
$color-hint: rgba(163, 169, 177, 1);

// $color-background: #f2f1f8;
// $color-text: #666666;
// $color-text-secondary: #707070;
// $color-form-input: #f1f1f4;
// $color-border: #0000001f;
// // Vuetify theme
// $color-primary: #ff0000;
// $color-grey: $color-text-secondary;
